<%- include('partials/header.ejs'); -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
    <div class="form-group">
        <label class="form-label">Title</label>
        <input class="form-control" type="text" name="postTitle" value="<%= Title %> " autocomplete="off">
        <label class="form-label">POST</label>
        <textarea class="form-control textarea" name="postBody" cols="80" rows="8" autocomplete="off"> <%= Body%> </textarea>
    </div>
    <input type="hidden" name="postID" value="<%= id%>">
    <button type="submit" name="button" class="btn btn-primary btn-lg">Publish </button> 
</form>

<%- include('partials/footer.ejs'); -%>